.center{
	text-align: center;
}

.imgCenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgRes{
	height: auto;
	max-width: 100%;
}

#footer {
    position:fixed;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:100%;
}
#footer img {width:100%;}